* {
    font-family: fantasy;
}

ul {
    list-style: disc;
    line-height: 1.5;
    margin-left: -5%;
    margin-right: 10%;
}

ul ul {
    list-style: none;
    line-height: 1;
    margin-top: -20px;
}

hr {
    color: black;
    width: 90%;
    margin-top: 50px;
}

p{
    margin-left: 0%;
}

img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.frontPage {
    margin-left: 10%;
    margin-right: 20%;
}

.frontPageImage {
    width: 50%;
    margin-left: 24%;
}

.centered {
    text-align: center;
    margin-bottom: 5%;
}

.resume {
    font-family: Calibri;
    margin-left: 2%;
    margin-right: 2%;
}

.resumeTop {
    list-style: none;
}

.resumeLineItem {
    font-family: Calibri;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 0.75em;
}

.topText {
    list-style: none;
    margin-right: 0%;
}


.right {
    float: right;
    margin-right: -5%;
    font-style: italic;

}

#topBar {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    height: 80px;
    /* background-color: red; */
    background: red url(../img/bannerPicture.jpg);
    background-size: 200% 100%;
}

#pageTitle {
    color: antiquewhite;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 2em;
}

#navBar {
    position: absolute;
    top: 80px;
    left: 0%;
    right: 0%;
    height: auto;
    min-height: 120px;
    /* background-color: #325474; */
    background-color: #012e58;
}

.navButton {
    box-sizing: border-box;
    float: left;
    margin: 1%;
    width: 48%;
    border-style: solid;
    border-width: 5px;
    border-color: #c5c5c5;
    border-radius: 5px;
    background-color: #e5e5e5;
    padding: 2px;
    text-align: center;
}

#pageBody {
    position: absolute;
    top: 220px;
    left: 0%;
    right: 0%;
    height: auto;
    padding: 10px;
}

#pageBodyContact {
    position: absolute;
    top: 220px;
    left: 10%;
    right: 15%;
    height: auto;
    padding: 10px;
}

@media only screen and (min-width: 641px) {
    #topBar {
        background-size: 100% 100%;
    }

    #navBar {
        height: auto;
        min-height: 90px;
        /* background-color: green; */
    }

    .navButton {
        width: 31.33%;
    }

    #pageBody {
        top: 190px;
    }

    #pageBodyContact {
        top: 190px;
        left: 15%;
        width: 60%;
        /* max-width: 600px; */
    }

    ul {
        margin-left: 0%;
    }
}

@media only screen and (min-width: 1008px) {
    #navBar {
        top: 80px;
        left: 0%;
        width: 200px;
        height: auto;
        /* background-color: yellow; */
    }

    .navButton {
        float: right;
        margin: 3%;
        width: 94%;
    }

    #pageBody {
        top: 80px;
        left: 210px;
        padding-left: 10px;
    }

    #pageBodyContact {
        top: 80px;
        left: 300px;
        /* right: 5%; */
        width: 50%;
        max-width: 600px;
        padding: 10px;
    }
}



/* formspree.io form config */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm label {
  font-family: inherit;
  font-size: 90%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label {
  font-size: .825em;
  margin-bottom: .5em;
}
#fs-frm input,
#fs-frm select,
#fs-frm textarea {
  border: 1px solid rgba(0,0,0,0.8);
  background-color: rgba(0,0,0,0.1);
  padding: .75em 1em;
  margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="submit"] {
  width: auto;
  cursor: pointer;
  background-color: rgb(29,202,52,0.8);
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="submit"]:focus {
  outline: blue;
}
#fs-frm [type="submit"] {
  margin-bottom: 0;
}